<!--<style type="text/css">
#topContact{display: none;}
</style>-->
<div id="content_links">
<a href="/users/edit_profile/<%= current_user.id %>">Profile</a>
<a href="/family_members/family/<%= current_user.id %>">Family Tree</a>
<a href="/give_feedback">Give feedback</a>
</div>
<!-- | <a href="" onclick="window.print()">Print</a> -->
<br/>
<div id="treeDiv">
<form action="/family_members/add_family/<%= current_user.id %>" method="post">
<% @all_users = User.all(:order => 'firstname') %>
<h2>Build your Family Tree</h2>
MJ Id <input type="text" size=3; name="search_mjid" />&nbsp;&nbsp;
Relation
<select name="relation" class="select_style">
    <option value="0">Select</option>
    <% @all_relations.each do |relation| %>
      <option value="<%= relation.id %>"><%= relation.relationship %></option>
    <% end %>
</select> &nbsp;&nbsp;
<input type="submit" value="Add member" class="button_style" />
<label class="notice"><%= notice %></label>
</form><br/>
<hr/>

<% @family_members.each do |r| %>
  would you like to join as <%= r.user.firstname  %> his/her <%= r.relationship %> ?
  <a href="/family_members/join_pending/<%= r.id %>">Accept</a><br/> | <a href="/family_members/join_decline/<%= r.id %>">Decline</a>
<% end %>
<h2><%= @user.firstname %> <%= @user.lastname %>'s Family</h2>
<center>
  <div class="MainProfile">
    <br/>
  <table >
    <tr>
      <td rowspan="7">
            <% if @user.photo_file_name.nil? %>
              <img src="/assets/empty_profile.jpeg" width="150" alt="" />
            <% else %>
               <%= image_tag @user.photo.url(:medium) %>
            <% end %>
      </td>
    </tr>
    <tr><td>Name:</td><td><%= @user.firstname %> <%= @user.lastname %></td></tr>
    <tr><td>Email:</td><td><%= @user.email %></td></tr>
    <tr><td>Mobile:</td><td><%= @user.mobileno %></td></tr>
    <tr><td>Gender:</td><td><%= @user.gender %></td></tr>
    <tr><td>Occupation:</td><td><%= @user.occupation %></td></tr>
    <tr><td>Station:</td><td><%= @user.station %></td></tr>
    <tr><td></td><td>Address:</td><td><%= @user.address %></td></tr>
  </table>     
  </div>
  <br/><br/>

  <table border="1px">
    <tr><th colspan=10>First Generation</th></tr>
    <tr>
        <% @user.relations.group("relationship").having("priority = ?", 1).order('id').each do |r| %>
        <td>      
        <% r.family_members.where('user_id = ? and join_pending = ?',@user.id,false).each do |f| %>
           <% family_member_user = User.find(f.family_member_user_id) %>
                  
           <% if family_member_user.gender == "Male" %>

                        <% if family_member_user.photo_file_name.nil? %>
                          <img src="/assets/empty_profile.jpeg" height="50" width="50" alt="" />
                        <% else %>
                          <%= image_tag family_member_user.photo.url(:small) %>
                        <% end %>
                        <a href="/family_members/family/<%= family_member_user.id %>"><%= family_member_user.firstname %></a> 
                        <br/><%= f.relation.relationship %>
                        <a href="/family_members/delete_member/<%= f.id %>"><img src="/assets/close.png"/></a>

                    <% f_m_spouse = FamilyMember.find_by_user_id_and_spouse_status(family_member_user.id,true) %>
                      <% unless f_m_spouse.nil? or f_m_spouse.blank? %>
                        <% spouse = User.find(f_m_spouse.family_member_user_id) %>
                        <% relation_with_spouse = FamilyMember.find_by_user_id_and_family_member_user_id(current_user.id,spouse.id) %>

                         <% unless relation_with_spouse.nil? %> 
                          <% if spouse.photo_file_name.nil? %>
                            <img src="/assets/empty_profile.jpeg" height="50" width="50" alt="" />
                          <% else %>
                            <%= image_tag spouse.photo.url(:small) %>
                          <% end %>
                          <a href="/family_members/family/<%= spouse.id %>"><%= spouse.firstname %></a> 
                          <br/><%= relation_with_spouse.relation.relationship %>
                          <a href="/family_members/delete_member/<%= relation_with_spouse.id %>"><img src="/assets/close.png"/></a>                        
                         <% end %>
              
                      <% end %>
                    
           <% else %>
                   <% f_m_spouse = FamilyMember.find_by_user_id_and_spouse_status(family_member_user.id,true) %>
                   <% if f_m_spouse.nil? or f_m_spouse.blank? %>
                  
                          <% if family_member_user.photo_file_name.nil? %>
                            <img src="/assets/empty_profile.jpeg" height="50" width="50" alt="" />
                          <% else %>
                            <%= image_tag family_member_user.photo.url(:small) %>
                          <% end %>
                          <a href="/family_members/family/<%= family_member_user.id %>"><%= family_member_user.firstname %></a> 
                          <br/><%= f.relation.relationship %>
                          <a href="/family_members/delete_member/<%= f.id %>"><img src="/assets/close.png"/></a>
                   
                  <% end %>
           <% end %>
          <br/>
        <% end %>
      </td>
    <% end %>
    </tr>
  </table>
  <br></br>



  <table border="1px">
    <tr><th colspan=10>Second Generation</th></tr>
    <tr>
      <% @user.relations.group("relationship").having("priority = ?", 2).order('id').each do |r| %>
      <td>
        <% r.family_members.where('user_id = ? and join_pending = ?',@user.id,false).each do |f| %>
           <% family_member_user = User.find(f.family_member_user_id) %>
                  
           <% if family_member_user.gender == "Male" %>

                        <% if family_member_user.photo_file_name.nil? %>
                          <img src="/assets/empty_profile.jpeg" height="50" width="50" alt="" />
                        <% else %>
                          <%= image_tag family_member_user.photo.url(:small) %>
                        <% end %>
                        <a href="/family_members/family/<%= family_member_user.id %>"><%= family_member_user.firstname %></a> 
                        <br/><%= f.relation.relationship %>
                        <a href="/family_members/delete_member/<%= f.id %>"><img src="/assets/close.png"/></a>
                    
                    <% f_m_spouse = FamilyMember.find_by_user_id_and_spouse_status(family_member_user.id,true) %>
                      <% unless f_m_spouse.nil? or f_m_spouse.blank? %>
                        <% spouse = User.find(f_m_spouse.family_member_user_id) %>
                        <% relation_with_spouse = FamilyMember.find_by_user_id_and_family_member_user_id(current_user.id,spouse.id) %>
                      
                         <% unless relation_with_spouse.nil? %> 
                          <% if spouse.photo_file_name.nil? %>
                            <img src="/assets/empty_profile.jpeg" height="50" width="50" alt="" />
                          <% else %>
                            <%= image_tag spouse.photo.url(:small) %>
                          <% end %>
                          <a href="/family_members/family/<%= spouse.id %>"><%= spouse.firstname %></a> 
                          <br/><%= relation_with_spouse.relation.relationship %>
                          <a href="/family_members/delete_member/<%= relation_with_spouse.id %>"><img src="/assets/close.png"/></a>                        
                         <% end %>
                      
                      <% end %>
                    
           <% else %>
                   <% f_m_spouse = FamilyMember.find_by_user_id_and_spouse_status(family_member_user.id,true) %>
                   <% if f_m_spouse.nil? or f_m_spouse.blank? %>
                        
                          <% if family_member_user.photo_file_name.nil? %>
                            <img src="/assets/empty_profile.jpeg" height="50" width="50" alt="" />
                          <% else %>
                            <%= image_tag family_member_user.photo.url(:small) %>
                          <% end %>
                          <a href="/family_members/family/<%= family_member_user.id %>"><%= family_member_user.firstname %></a> 
                          <br/><%= f.relation.relationship %>
                          <a href="/family_members/delete_member/<%= f.id %>"><img src="/assets/close.png"/></a>
                                
                  <% end %>
           <% end %>
          <br/>
        <% end %>
      </td>
    <% end %>
    </tr>
  </table>
  <br></br>


  <table border="1px">
    <tr><th colspan=10>Third Generation</th></tr>
    <tr>
      <% @user.relations.group("relationship").having("priority = ?", 3).order('serial').each do |r| %>
      <td>
        <% r.family_members.where('user_id = ? and join_pending = ?',@user.id,false).each do |f| %>
           <% family_member_user = User.find(f.family_member_user_id) %>
                 
           <% if family_member_user.gender == "Male" %>

                        <% if family_member_user.photo_file_name.nil? %>
                          <img src="/assets/empty_profile.jpeg" height="50" width="50" alt="" />
                        <% else %>
                          <%= image_tag family_member_user.photo.url(:small) %>
                        <% end %>
                        <a href="/family_members/family/<%= family_member_user.id %>"><%= family_member_user.firstname %></a> 
                        <br/><%= f.relation.relationship %>
                        <% unless f.relation.relationship == "Mein" %>
                          <a href="/family_members/delete_member/<%= f.id %>"><img src="/assets/close.png"/></a>
                        <% end %>

                    <% f_m_spouse = FamilyMember.find_by_user_id_and_spouse_status(family_member_user.id,true) %>
                      <% unless f_m_spouse.nil? or f_m_spouse.blank? %>
                        <% spouse = User.find(f_m_spouse.family_member_user_id) %>
                        <% relation_with_spouse = FamilyMember.find_by_user_id_and_family_member_user_id(current_user.id,spouse.id) %>
                      
                         <% unless relation_with_spouse.nil? %> 
                          <% if spouse.photo_file_name.nil? %>
                            <img src="/assets/empty_profile.jpeg" height="50" width="50" alt="" />
                          <% else %>
                            <%= image_tag spouse.photo.url(:small) %>
                          <% end %>
                          <a href="/family_members/family/<%= spouse.id %>"><%= spouse.firstname %></a> 
                          <br/><%= relation_with_spouse.relation.relationship %>
                          <a href="/family_members/delete_member/<%= relation_with_spouse.id %>"><img src="/assets/close.png"/></a>                        
                         <% end %>
                      
                      <% end %>
                    
           <% else %>
                   <% f_m_spouse = FamilyMember.find_by_user_id_and_spouse_status(family_member_user.id,true) %>
                   <% if f_m_spouse.nil? %>
                        
                          <% if family_member_user.photo_file_name.nil? %>
                            <img src="/assets/empty_profile.jpeg" height="50" width="50" alt="" />
                          <% else %>
                            <%= image_tag family_member_user.photo.url(:small) %>
                          <% end %>
                          <a href="/family_members/family/<%= family_member_user.id %>"><%= family_member_user.firstname %></a> 
                          <br/><%= f.relation.relationship %>
                          <% unless f.relation.relationship == "Mein" %>
                            <a href="/family_members/delete_member/<%= f.id %>"><img src="/assets/close.png"/></a>
                          <% end %>
                          <a href="/family_members/delete_member/<%= f.id %>"><img src="/assets/close.png"/></a>
                                
                  <% end %>
           <% end %>
          <br/>
        <% end %>
      </td>
    <% end %>
      </tr>
  </table>
  <br></br>
  <table border="1px">
    <tr><th colspan=10>Fourth Generation</th></tr>
    <tr>
      <% @user.relations.group("relationship").having("priority = ?", 4).order('id').each do |r| %>
      <td>
        <% r.family_members.where('user_id = ? and join_pending = ?',@user.id,false).each do |f| %>
           <% family_member_user = User.find(f.family_member_user_id) %>
                  
           <% if family_member_user.gender == "Male" %>

                        <% if family_member_user.photo_file_name.nil? %>
                          <img src="/assets/empty_profile.jpeg" height="50" width="50" alt="" />
                        <% else %>
                          <%= image_tag family_member_user.photo.url(:small) %>
                        <% end %>
                        <a href="/family_members/family/<%= family_member_user.id %>"><%= family_member_user.firstname %></a> 
                        <br/><%= f.relation.relationship %>
                        <a href="/family_members/delete_member/<%= f.id %>"><img src="/assets/close.png"/></a>

                    <% f_m_spouse = FamilyMember.find_by_user_id_and_spouse_status(family_member_user.id,true) %>
                      <% unless f_m_spouse.nil? or f_m_spouse.blank? %>
                        <% spouse = User.find(f_m_spouse.family_member_user_id) %>
                        <% relation_with_spouse = FamilyMember.find_by_user_id_and_family_member_user_id(current_user.id,spouse.id) %>
                      
                         <% unless relation_with_spouse.nil? %> 
                          <% if spouse.photo_file_name.nil? %>
                            <img src="/assets/empty_profile.jpeg" height="50" width="50" alt="" />
                          <% else %>
                            <%= image_tag spouse.photo.url(:small) %>
                          <% end %>
                          <a href="/family_members/family/<%= spouse.id %>"><%= spouse.firstname %></a> 
                          <br/><%= relation_with_spouse.relation.relationship %>
                          <a href="/family_members/delete_member/<%= relation_with_spouse.id %>"><img src="/assets/close.png"/></a>                        
                         <% end %>
                      
                      <% end %>
                    
           <% else %>
                   <% f_m_spouse = FamilyMember.find_by_user_id_and_spouse_status(family_member_user.id,true) %>
                   <% if f_m_spouse.nil? %>
                        
                          <% if family_member_user.photo_file_name.nil? %>
                            <img src="/assets/empty_profile.jpeg" height="50" width="50" alt="" />
                          <% else %>
                            <%= image_tag family_member_user.photo.url(:small) %>
                          <% end %>
                          <a href="/family_members/family/<%= family_member_user.id %>"><%= family_member_user.firstname %></a> 
                          <br/><%= f.relation.relationship %>
                          <a href="/family_members/delete_member/<%= f.id %>"><img src="/assets/close.png"/></a>
                                
                  <% end %>
           <% end %>
          <br/>
        <% end %>
      </td>
    <% end %>
    </tr>
  </table>
  <br></br>
</center>

</div>



