<% if @user.id == current_user.id %>
<div>
  <a class="btn btn-info" href="/users/edit_profile/<%= current_user.id %>">Profile</a>
  <a class="btn btn-success" href="/family_members/family/<%= current_user.id %>">Family Tree</a>
  <a class="btn btn-danger" href="/feedbacks/new/<%= current_user.id %>">Give feedback</a>
  <a href="/family_members/member_request_notifications/<%= current_user.id %>"
   class="btn btn-inverse">Notifications
    <% if @family_members.count > 0 %>
      <span class="notification" title="request_notifications">
        <%= @family_members.count %>
      </span>
    <% end %>&nbsp;
    
  </a>
</div>
<% end %>

<br/>
<div id="treeDiv">
<% if @user.id == current_user.id %>
<form action="/family_members/join_pending/<%= current_user.id %>" method="post">
<% @all_users = User.all(:order => 'firstname') %>
<h2><font style="font-family: arial;" color="#890000">Build your Family Tree</font></h2>
<font style="font-family: arial; font-size:14pt;" color="#890000">MJ Id</font>
 <input type="text" size=3; name="search_mjid" />&nbsp;&nbsp;
<font style="font-family: arial; font-size:14pt;" color="#890000">Relation</font>
<select name="relation" class="select_style">
  <option value="0">Select</option>
  <% @all_relations.each do |relation| %>
    <option value="<%= relation.id %>"><%= relation.relationship %></option>
  <% end %>
</select> &nbsp;&nbsp;
<input type="submit" value="Add member" class="btn btn-success" style="position:absolute;" />
<label class="notice"><%= notice %></label>
</form>
<br/>
<hr/>
<% end %>
<h2><font style="font-family: arial;" color="#890000">
  <%= @user.firstname.capitalize %>
  <%= @user.middlename.capitalize %>
  <%= @user.lastname.capitalize %>'s Family(<%= @user.mj_id %>)</font></h2>
<center>
<div class="MainProfile">
<table>
  <tr>
    <td rowspan="7">
        <% if @user.photo_file_name.nil? %>
          <img src="/assets/empty_profile.jpeg" width="150" alt="" class="img-polaroid"/>
        <% else %>
           <%= image_tag @user.photo.url(:medium) ,:class =>'img-polaroid' %>
        <% end %>
    </td>
  </tr>
  <tr><td class="font">Name</td><td class="font">: &nbsp;<%= @user.firstname.capitalize %> <%= @user.lastname.capitalize %></td></tr>
  <tr><td class="font">Email</td><td class="font">: &nbsp;<%= @user.email %></td></tr>
  <tr><td class="font">Mobile</td><td class="font">: &nbsp;<%= @user.mobileno %></td></tr>
  <tr><td class="font">Gender</td><td class="font">: &nbsp;<%= @user.gender %></td></tr>
  <tr><td class="font">Occupation</td><td class="font">: &nbsp;<%= @user.occupation.capitalize %></td></tr>
  <tr><td class="font">City</td><td class="font">: &nbsp;<%= @user.city.capitalize %>
  </td></tr>
  <tr><td></td><td class="font">Address</td><td class="font">: &nbsp;<%= @user.address %>
  </td></tr>
</table>     
</div>
<br/><br/>

<% displayed_members_list = Array.new %>

<table class="bordered"  style = "width:100px;">
  <tr><th colspan=6>
        <h1><font style="font-family: arial;" color="#890000">First Generation</font></h1>
      </th>
  </tr>
  <tr>
      <% @user.relations.group("relationship").having("priority = ?", 1).order('id').each do |r| %>
          <td>
            <% r.family_members.where('user_id = ? and join_pending = ?',@user.id,false).order('family_member_user_doby desc').each do |f| %>
              <%= render 'family_member', :f => f , :displayed_members_list => displayed_members_list %>
            <% end %>
          </td>
      <% end %>
  </tr>
</table>

<table class="bordered" style = "width:100px;">
  <tr><th colspan=10>
        <h1><font style="font-family: arial;" color="#890000">Second Generation</font></h1>
      </th>
  </tr>
      <% @user.relations.group("relationship").having("priority = ?", 2).order('id').each do |r| %>
          <td>
            <% r.family_members.where('user_id = ? and join_pending = ?',@user.id,false).order('family_member_user_doby').each do |f| %>
              <%= render 'family_member', :f => f , :displayed_members_list => displayed_members_list %>
            <% end %>
          </td>
      <% end %>
  </tr>
</table>

<table class="bordered">
  <tr><th colspan=10>
        <h1><font style="font-family: arial;" color="#890000">Third Generation</font></h1>
      </th>
  </tr>
  <tr>
      <td>
     
            <div class="single-span1" >
            <% if @user.photo_file_name.nil? %>
              <img src="/assets/empty_profile.jpeg" class="img-polaroid" alt="" style="" />
            <% else %>
              <%= image_tag @user.photo.url(:small), :class => 'img-polaroid'%>
            <% end %>
            &nbsp;<font size="3"><strong>मैं</strong></font><br>
            &nbsp;<%= @user.firstname.capitalize %>
            &nbsp;<%= @user.lastname.capitalize%><br/>
            &nbsp;<%= @user.dob%><br/>
            &nbsp;<%= @user.city.capitalize%><br/>           
          </div>
      </td>
      <% displayed_members_list << current_user.id %>
      <% @user.relations.group("relationship").having("priority = ?", 3).order('id').each do |r| %>
          <td>
              <% r.family_members.where('user_id = ? and join_pending = ?',@user.id,false).order('family_member_user_doby desc').each do |f| %>
                <%= render 'family_member', :f => f , :displayed_members_list => displayed_members_list %>
              <% end %>
          </td>
      <% end %>
  </tr>
</table>

<table class="bordered">
  <tr><th colspan=10>
        <h1><font style="font-family: arial;" color="#890000">Fourth Generation</font></h1>
      </th>
  </tr>
      <% @user.relations.group("relationship").having("priority = ?", 4).order('id').each do |r| %>
          <td>
            <% r.family_members.where('user_id = ? and join_pending = ?',@user.id,false).order('family_member_user_doby desc').each do |f| %>
              <%= render 'family_member', :f => f , :displayed_members_list => displayed_members_list %>
            <% end %>
          </td>
      <% end %>
  </tr>
</table>

<table class="bordered">
  <tr><th colspan=10>
        <h1><font style="font-family: arial;" color="#890000">Fifth Generation</font></h1>
      </th>
  </tr>
      <% @user.relations.group("relationship").having("priority = ?", 5).order('id').each do |r| %>
          <td>
            <% r.family_members.where('user_id = ? and join_pending = ?',@user.id,false).order('family_member_user_doby desc').each do |f| %>
              <%= render 'family_member', :f => f , :displayed_members_list => displayed_members_list %>
            <% end %>
          </td>
      <% end %>
  </tr>
</table>
 