<% if @user.id == current_user.id %>
<div>
  <a class="btn btn-info" href="/users/edit_profile/<%= current_user.id %>">Profile</a>
  <a class="btn btn-success" href="/family_members/family/<%= current_user.id %>">Family Tree</a>
  <a class="btn btn-danger" href="/feedbacks/new/<%= current_user.id %>">Give feedback</a>
  <a href="/family_members/member_request_notifications/<%= current_user.id %>"
   class="btn btn-inverse">Notifications
    <% if @family_members.count > 0 %>
      <span class="notification" title="request_notifications">
        <%= @family_members.count %>
      </span>
    <% end %>&nbsp;
    <%if @send_notification.count > 0 %>
      <span class="notification" style="background:green;" title="send_notifications">
        <%= @send_notification.count %>
      </span> 
    <% end %>&nbsp;  
    <%if @accept_notification.count > 0 %>
      <span class="notification"style="background:#9966FF" title="accept_notifications">
        <%= @accept_notification.count %>
      </span> 
    <% end  %>
  </a>                             
<% end %>
<div style="float:right">  <% if current_user.mj_id == "MJ1" %>
                              <form name="input" action="/family_members/family/" method="post">
                              <% @users = User.all %>
                                        
                              <select  name="id" class="input-medium">

                              <% @users.each do |user| %>
                                 <% u = user.id %>
                                <option value="<%= u %>"><%= user.mj_id %> <%= user.firstname.capitalize%>   </options>
                                <% end %>
                                </select>
                                <input type="submit" value="View Family Tree" class ="btn btn-inverse" >
                                </form>
                              <% end %> 
</div>
</div>
<br/>
<div id="treeDiv">
<% if @user.id == current_user.id %>
<form action="/family_members/join_pending/<%= current_user.id %>" method="post">
<% @all_users = User.all(:order => 'firstname') %>
<h2><font style="font-family: arial;" color="#890000">Build your Family Tree</font></h2>
<font style="font-family: arial; font-size:14pt;" color="#890000">MJ Id</font>
 <input type="text" size=3; name="search_mjid" />&nbsp;&nbsp;
<font style="font-family: arial; font-size:14pt;" color="#890000">Relation</font>
<select name="relation" class="select_style">
  <option value="0">Select</option>
  <% @all_relations.each do |relation| %>
    <option value="<%= relation.id %>"><%= relation.relationship %></option>
  <% end %>
</select> &nbsp;&nbsp;
<input type="submit" value="Add member" class="btn btn-success" style="position:absolute;" />
<label class="notice"><%= notice %></label>
</form>
<br/>
<hr/>
<% end %>
<h2><font style="font-family: arial;" color="#890000">
  <%= @user.firstname.capitalize %>
  <%= @user.middlename.capitalize %>
  <%= @user.lastname.capitalize %>'s Family(<%= @user.mj_id %>)</font></h2>
<center>
<div class="MainProfile">
<table>
  <tr>
    <td rowspan="8">
        <% if @user.photo_file_name.nil? %>
          <img src="/assets/empty_profile.jpeg" width="150" alt="" class="img-polaroid"/>
        <% else %>
           <%= image_tag @user.photo.url(:medium) ,:class =>'img-polaroid' %>
        <% end %>
    </td>
  </tr>
  <tr><td class="font">Name</td><td class="font">:<%= @user.firstname.capitalize %> <%= @user.middlename.capitalize %> <%= @user.lastname.capitalize %></td></tr>
  <tr><td class="font">Email</td><td class="font">:<%= @user.email.downcase %></td></tr>
  <tr><td class="font">Mobile</td><td class="font">:<%= @user.mobileno %></td></tr>
  <tr><td class="font">Gender</td><td class="font">:<%= @user.gender %></td></tr>
  <tr><td class="font">Occupation</td><td class="font">:<%= @user.occupation.capitalize %></td></tr>
  <tr><td class="font">City</td><td class="font">:<%= @user.city %>
  </td></tr>
  <tr><td class="font">Address</td><td class="font" style="max-width:350px;">
    <p><%= @user.address1 %><br><%= @user.address2 %><br><%= @user.address3 %>
  </td></tr>
</table>     
</div>
<br/><br/>

<% displayed_members_list = Array.new %>

<table class="bordered"  style = "width:100px;">
  <tr><th colspan=6>
        <h1><font style="font-family: arial;" color="#890000">First Generation</font></h1>
      </th>
  </tr>
  <tr>
      <% @user.relations.group("relationship").having("priority = ?", 1).order('id').each do |r| %>
          <td>
            <% r.family_members.where('user_id = ? and join_pending = ?',@user.id,false).each do |f| %>
              <%= render 'family_member', :f => f , :displayed_members_list => displayed_members_list %>
            <% end %>
             <% if @user.id == current_user.id %>
              <% r.family_members.where('user_id = ? and join_pending = ?',@user.id,true).each do |fm| %>
                <% family_member_user = User.find(fm.family_member_user_id) %>
                  <div class="new-span1">
                    <% if family_member_user.photo_file_name.nil? %>
                       <img src="/assets/empty_profile.jpeg" class="img-polaroid" alt="" style="" />
                    <% else %>
                       <%= image_tag family_member_user.photo.url(:small), :class => 'img-polaroid'%>
                    <% end %>
                    <a href="/family_members/delete_member/"><img src="https://cdn3.iconfinder.com/data/icons/woothemesiconset/32/user_close.png" class="watermark" ></a>
                    &nbsp;<font size="3"><strong><%= fm.relation.relationship %></strong></font><br>
                    &nbsp;<%= family_member_user.firstname.capitalize %>&nbsp;<%= family_member_user.middlename.capitalize %>&nbsp;<%= family_member_user.lastname.capitalize %>
                    <br/>
                    &nbsp;<%= family_member_user.dob.to_time.strftime('%d %B') %><br/>
                    &nbsp;<%= family_member_user.city.capitalize %><br/> 
                    &nbsp;<%= family_member_user.mobileno %><br/>
                  </div>
                <% end %>
              <% end %>
          </td>
      <% end %>
  </tr>
</table>

<table class="bordered" style = "width:100px;">
  <tr><th colspan=10>
        <h1><font style="font-family: arial;" color="#890000">Second Generation</font></h1>
      </th>
  </tr>
      <% @user.relations.group("relationship").having("priority = ?", 2).order('id').each do |r| %>
          <td>
            <% r.family_members.where('user_id = ? and join_pending = ?',@user.id,false).each do |f| %>
              <%= render 'family_member', :f => f , :displayed_members_list => displayed_members_list %>
            <% end %>
             <% if @user.id == current_user.id %>
              <% r.family_members.where('user_id = ? and join_pending = ?',@user.id,true).each do |fm| %>
                <% family_member_user = User.find(fm.family_member_user_id) %>
                  <div class="new-span1">
                    <% if family_member_user.photo_file_name.nil? %>
                       <img src="/assets/empty_profile.jpeg" class="img-polaroid" alt="" style="" />
                    <% else %>
                       <%= image_tag family_member_user.photo.url(:small), :class => 'img-polaroid'%>
                    <% end %>
                    <a href="/family_members/delete_member/"><img src="https://cdn3.iconfinder.com/data/icons/woothemesiconset/32/user_close.png" class="watermark" ></a>
                    &nbsp;<font size="3"><strong><%= fm.relation.relationship %></strong></font><br>
                    &nbsp;<%= family_member_user.firstname.capitalize %>&nbsp;<%= family_member_user.middlename.capitalize %>&nbsp;<%= family_member_user.lastname.capitalize %>
                    <br/>
                    &nbsp;<%= family_member_user.dob.to_time.strftime('%d %B') %><br/>
                    &nbsp;<%= family_member_user.city.capitalize %><br/> 
                    &nbsp;<%= family_member_user.mobileno %><br/>
                  </div>
                <% end %>
              <% end %>
          </td>
      <% end %>
  </tr>
</table>

<table class="bordered">
  <tr><th colspan=10>
        <h1><font style="font-family: arial;" color="#890000">Third Generation</font></h1>
      </th>
  </tr>
  <tr>
      <% @user.relations.group("relationship").having("priority = ?", 3).order('id').each do |r| %>
          <td>
              <% r.family_members.where('user_id = ? and join_pending = ?',@user.id,false).each do |f| %>
                <%= render 'family_member', :f => f , :displayed_members_list => displayed_members_list %>
              <% end %>
               <% if @user.id == current_user.id %>
                <% r.family_members.where('user_id = ? and join_pending = ?',@user.id,true).each do |fm| %>
                <% family_member_user = User.find(fm.family_member_user_id) %>

                  <div class="new-span1">
                    <% if family_member_user.photo_file_name.nil? %>
                       <img src="/assets/empty_profile.jpeg" class="img-polaroid" alt="" style="" />
                    <% else %>
                       <%= image_tag family_member_user.photo.url(:small), :class => 'img-polaroid'%>
                    <% end %>
                    <a href="/family_members/delete_member/"><img src="https://cdn3.iconfinder.com/data/icons/woothemesiconset/32/user_close.png" class="watermark" ></a>
                    &nbsp;<font size="3"><strong><%= fm.relation.relationship %></strong></font><br>
                    &nbsp;<%= family_member_user.firstname.capitalize %>&nbsp;<%= family_member_user.middlename.capitalize %>&nbsp;<%= family_member_user.lastname.capitalize %>
                    <br/>
                    &nbsp;<%= family_member_user.dob.to_time.strftime('%d %B') %><br/>
                    &nbsp;<%= family_member_user.city %><br/>
                    &nbsp;<%= family_member_user.mobileno %><br/>
                  </div> 
                <% end %>
                <% end %>
          </td>
      <% end %>
  </tr>
</table>

<table class="bordered">
  <tr><th colspan=10>
        <h1><font style="font-family: arial;" color="#890000">Fourth Generation</font></h1>
      </th>
  </tr>
      <% @user.relations.group("relationship").having("priority = ?", 4).order('id').each do |r| %>
          <td>
            <% r.family_members.where('user_id = ? and join_pending = ?',@user.id,false).each do |f| %>
              <%= render 'family_member', :f => f , :displayed_members_list => displayed_members_list %>
            <% end %>
             <% if @user.id == current_user.id %>
              <% r.family_members.where('user_id = ? and join_pending = ?',@user.id,true).each do |fm| %>
                <% family_member_user = User.find(fm.family_member_user_id) %>
                  <div class="new-span1">
                    <% if family_member_user.photo_file_name.nil? %>
                       <img src="/assets/empty_profile.jpeg" class="img-polaroid" alt="" style="" />
                    <% else %>
                       <%= image_tag family_member_user.photo.url(:small), :class => 'img-polaroid'%>
                    <% end %>
                    <a href="/family_members/delete_member/"><img src="https://cdn3.iconfinder.com/data/icons/woothemesiconset/32/user_close.png" class="watermark" ></a>
                    &nbsp;<font size="3"><strong><%= fm.relation.relationship %></strong></font><br>
                    &nbsp;<%= family_member_user.firstname.capitalize %>&nbsp;<%= family_member_user.middlename.capitalize %>&nbsp;<%= family_member_user.lastname.capitalize %>
                    <br/>
                    &nbsp;<%= family_member_user.dob.to_time.strftime('%d %B') %><br/>
                    &nbsp;<%= family_member_user.city %><br/>
                    &nbsp;<%= family_member_user.mobileno %><br/>
                  </div> 
                <% end %>
              <% end %>
          </td>
      <% end %>
  </tr>
</table>

<table class="bordered">
  <tr><th colspan=10>
        <h1><font style="font-family: arial;" color="#890000">Fifth Generation</font></h1>
      </th>
  </tr>
      <% @user.relations.group("relationship").having("priority = ?", 5).order('id').each do |r| %>
          <td>
            <% r.family_members.where('user_id = ? and join_pending = ?',@user.id,false).each do |f| %>
              <%= render 'family_member', :f => f , :displayed_members_list => displayed_members_list %>
            <% end %>
             <% if @user.id == current_user.id %>
              <% r.family_members.where('user_id = ? and join_pending = ?',@user.id,true).each do |fm| %>
                <% family_member_user = User.find(fm.family_member_user_id) %>
                  <div class="new-span1">
                    <% if family_member_user.photo_file_name.nil? %>
                       <img src="/assets/empty_profile.jpeg" class="img-polaroid" alt="" style="" />
                    <% else %>
                       <%= image_tag family_member_user.photo.url(:small), :class => 'img-polaroid'%>
                    <% end %>
                    <a href="/family_members/delete_member/"><img src="https://cdn3.iconfinder.com/data/icons/woothemesiconset/32/user_close.png" class="watermark" ></a>
                    &nbsp;<font size="3"><strong><%= fm.relation.relationship %></strong></font><br>
                    &nbsp;<%= family_member_user.firstname.capitalize %>&nbsp;<%= family_member_user.middlename.capitalize %>&nbsp;<%= family_member_user.lastname.capitalize %>
                    <br/>
                    &nbsp;<%= family_member_user.dob.to_time.strftime('%d %B') %><br/>
                    &nbsp;<%= family_member_user.city %><br/>
                    &nbsp;<%= family_member_user.mobileno %><br/>
                  </div>  
                <% end %>
              <% end %>
          </td>
      <% end %>
  </tr>
</table>
