<style type="text/css">
div{border-radius: 10px;}
td{padding: 10px;}
a:hover{
text-decoration:none;}   
</style>
<center>
<div class="row">
  <div class="span4">  
  <% @family_members.each do |r| %> 
    <% @relationship = Relation.find(r.relation_id).relationship %>
    <div style="background:lightpink">
      <table>
        <tr>
          <td>
            <% if r.user.photo_file_name.nil? %>
             <img src="/assets/empty_profile.jpeg" width="80" alt="" class='img-circle'/>
            <% else %>
            <%= image_tag r.user.photo.url(:small), :class => 'img-circle' %>
            <% end %> <br>           
            <a href="/family_members/family/<%= r.user.id %>"><%= r.user.firstname.capitalize %> <%= r.user.middlename.capitalize %> <%= r.user.lastname.capitalize %>
          </td>
          <td>
            </a><strong><%= r.user.firstname.capitalize %> <%= r.user.middlename.capitalize %> <%= r.user.lastname.capitalize %> Wants to add you as</strong> &nbsp;
            <font size="4" ><%= @relationship %></font>,<br><strong>Do you </strong><br><br>
            <a href="/family_members/add_family/<%= r.id %>" class="btn btn-info" >Accept
            </a> or <a href="/family_members/pending_decline/<%= r.id %>" class="btn btn-info">Decline</a>
          </td>
        </tr>
      </table>
    </div>
  <% end %> 
  </div>
    

  <div class="span4">
  <% @send_notification.each do |sn| %> 
    <% unless sn.relationship.nil? %>
      <div style="background:lightpink">
        <table>
          <tr>
            <td>
              <% @u_id = User.find(sn.new_member_id) %>
              <% @person_who_initiated_notification = User.find(sn.present_id) %>
              <% @to_know_relationship_of_family_member = FamilyMember.find_by_user_id_and_family_member_user_id(sn.present_id,sn.new_member_id) %>
              <% relation = Relation.find(@to_know_relationship_of_family_member.relation_id).relationship %>
                <% if @u_id.photo_file_name.nil? %>
                  <img src="/assets/empty_profile.jpeg" width="80" alt="" 
                  class='img-circle' />
                <% else %>
                  <%= image_tag @u_id.photo.url(:small), :class => 'img-circle'  %>
                <% end %><br>
                <a href="/family_members/family/<%= @u_id.id %>"><%= @u_id.firstname.capitalize %> <%= @u_id.middlename.capitalize %> <%= @u_id.lastname.capitalize %></a>
            </td>
            <td>
              
              <strong><%= @person_who_initiated_notification.firstname.capitalize %> <%= @person_who_initiated_notification.middlename.capitalize %> <%= @person_who_initiated_notification.lastname.capitalize %> added <%= @u_id.firstname.capitalize %> <%= @u_id.middlename.capitalize %> <%= @u_id.lastname.capitalize %> as <font size="4" ><%= relation %></font>.Is <%= @u_id.firstname.capitalize %> <%= @u_id.middlename.capitalize %> <%= @u_id.lastname.capitalize %> related to you as </strong>
              <font size="4" >
              <%= sn.relationship %>?</font><br><br>
              <a href="/family_members/accept/<%= sn.id %>" class="btn btn-info" target="_parent" >yes</a> or <a href="/family_members/decline/<%= sn.id %>" class="btn btn-info" >no</a>
            </td>
          </tr>
        </table>
      </div>
    <% end %>
  <% end %> 
  </div>


  <div class="span4">
  <% @accept_notification.each do |an| %> 
    <% if !an.reverse_relationship.nil? %>
      <div style="background:lightpink">
        <table>
          <tr>
            <td>
              <% @u_id = User.find(an.existing_member_id) %>
              <% if @u_id.photo_file_name.nil? %>
               <img src="/assets/empty_profile.jpeg" width="80" alt="" class="img-circle" />
              <% else %>
               <%= image_tag @u_id.photo.url(:small), :class => 'img-circle' %>
              <% end %><br>
              <a href="/family_members/family/<%= @u_id.id %>">
                <%= @u_id.firstname.capitalize %> <%= @u_id.middlename.capitalize %> <%= @u_id.lastname.capitalize %>
              </a>
            </td>
            <td>
              <strong><%= @u_id.firstname.capitalize %> <%= @u_id.middlename.capitalize %> <%= @u_id.lastname.capitalize %> wants to add you as <font size="4" ><%= an.relationship %></font>.Is <%= @u_id.firstname.capitalize %> <%= @u_id.middlename.capitalize %> <%= @u_id.lastname.capitalize %> related to you as </strong><font size="4" ><%= an.reverse_relationship %> ?</font><br><br>
              <a href="/family_members/flag_accept/<%= an.id %>" class="btn btn-info" >yes</a> or <a href="/family_members/flag_decline/<%= an.id %>" class="btn btn-info" >no</a>
            </td>
          </tr>
        </table>
      </div>
     <% else %>
      <div style="background:lightpink">
        <table>
          <tr>
            <td>
              <% @u_id = User.find(an.existing_member_id) %>
              <% if @u_id.photo_file_name.nil? %>
               <img src="/assets/empty_profile.jpeg" width="80" alt="" class="img-circle" />
              <% else %>
               <%= image_tag @u_id.photo.url(:small), :class => 'img-circle' %>
              <% end %><br>
              <a href="/family_members/family/<%= @u_id.id %>">
                <%= @u_id.firstname.capitalize %> <%= @u_id.middlename.capitalize %> <%= @u_id.lastname.capitalize %>
              </a>
            </td>
            <td>
              <strong><%= @u_id.firstname.capitalize %> <%= @u_id.middlename.capitalize %> <%= @u_id.lastname.capitalize %> wants to add you as <font size="4" ><%= an.relationship %></font>.Is <%= @u_id.firstname.capitalize %> <%= @u_id.middlename.capitalize %> <%= @u_id.lastname.capitalize %> related to you as </strong><font size="4" ><%= an.reverse_relationship %> ?</font><br><br>
              <a href="/family_members/flag_accept/<%= an.id %>" class="btn btn-info" >yes</a> or <a href="/family_members/flag_decline/<%= an.id %>" class="btn btn-info" >no</a>
            </td>
          </tr>
        </table>
      </div>  
    <% end %> 
  <% end %>
  </div>
</center>
