
<% @family_members.each do |r| %> 
<% @relationship = Relation.find(r.relation_id).relationship %>
<table><tr><td>
  <% if r.user.photo_file_name.nil? %>
   <img src="/assets/empty_profile.jpeg" width="150" alt="" />
  <% else %>
  <%= image_tag r.user.photo.url(:small) %>
  <% end %>
</td><td>
  <%= @relationship %> 
  <a href="/family_members/add_family/<%= r.id %>">Accept</a> | <a href="/family_members/pending_decline/<%= r.id %>">Decline</a>
  </td></tr><tr><td>
  <a href="/family_members/family/<%= r.user.id %>"><%= r.user.firstname%></td>
  </tr></table>
<% end %>


<% @send_notification.each do |sn| %> 
  <% unless sn.relationship.nil? %>
    <table><tr><td>
     <% @u_id = User.find(sn.new_member_id) %>
     <% @person_who_initiated_notification = User.find(sn.present_id) %>
     <% @to_know_relationship_of_family_member = FamilyMember.find_by_user_id_and_family_member_user_id(sn.present_id,sn.new_member_id) %>
     <% relation = Relation.find(@to_know_relationship_of_family_member.relation_id).relationship %>
     <% if @u_id.photo_file_name.nil? %>
        <img src="/assets/empty_profile.jpeg" width="150" alt="" />
      <% else %>
        <%= image_tag @u_id.photo.url(:small) %>
     <% end %>
    </td>
    <td>
    <%= @person_who_initiated_notification.firstname %> <%= @person_who_initiated_notification.lastname %> added <%= @u_id.firstname %> <%= @u_id.lastname %> as <%= relation %>.Are you related to <%= @u_id.firstname %> <%= @u_id.lastname %> as <%= sn.relationship %> ? 
    <a href="/family_members/accept/<%= sn.id %>">yes</a> | <a href="/family_members/decline/<%= sn.id %>">no</a>
    </td></tr><tr><td>
   <a href="/family_members/family/<%= @u_id.id %>"><%= @u_id.firstname %></td>
   </tr></table>
  <% end %> 
<% end %>


<% @accept_notification.each do |an| %> 
 <% if !an.reverse_relationship.nil? %>
    <table><tr><td>
    <% @u_id = User.find(an.existing_member_id) %>
      <% if @u_id.photo_file_name.nil? %>
       <img src="/assets/empty_profile.jpeg" width="150" alt="" />
      <% else %>
       <%= image_tag @u_id.photo.url(:small) %>
      <% end %>
    </td><td>
    <%= @u_id.firstname%> wants to add you as <%= an.relationship %>.Are you related to <%= @u_id.firstname%> as <%= an.reverse_relationship %> ?
    <a href="/family_members/flag_accept/<%= an.id %>">yes</a> | <a href="/family_members/flag_decline/<%= an.id %>">no</a>
    </td></tr>
    <tr><td><a href="/family_members/family/<%= @u_id.id %>"><%= @u_id.firstname%></td></tr></table>
  <% else %>
     <table><tr><td>
       <% @u_id = User.find(an.existing_member_id) %>
        <% if @u_id.photo_file_name.nil? %>
          <img src="/assets/empty_profile.jpeg" width="150" alt="" />
        <% else %>
          <%= image_tag @u_id.photo.url(:small) %>
        <% end %>
     </td><td>
     <%= @u_id.firstname%> wants to add you as <%= an.relationship %>.
     <a href="/family_members/flag_accept/<%= an.id %>">yes</a> | <a href="/family_members/flag_decline/<%= an.id %>">no</a>
     </td></tr>
     <tr><td><a href="/family_members/family/<%= @u_id.id %>"><%= @u_id.firstname%></td></tr></table>
  <% end %> 
<% end %>
