  
<style>
.table-nonfluid {
   width:600px;
   float: left;
  }
  </style>
 
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<div class="clear"></div>
<div>
<table class="table table-striped table-bordered table-condensed table-hover table-nonfluid" 
id="products">
  <tr>
    <th><%= sortable "Mj Id" %></th>
    <th><%= sortable "surname" %></th>
    <th><%= sortable "firstname" %></th>
    <th><%= sortable "city"%>
    <th><%= sortable "photo" %></th>
  </tr>
  <% for product in @products %>
    <tr>
      <td><%= product.mj_id %></td>
      <td><%= product.lastname.capitalize %></td>
      <td><%= product.firstname.capitalize %></td>
      <td><%= product.city.capitalize%></td>
      <td><%= image_tag  product.photo.url(:small) %></a></td>
    </tr>
  <% end %>
</table>
<div style="padding-left:10em;">
<%= paginate @products %>
</div></div>
 </br></br></br></br></br></br>
