<div  class="hero-unit"
    style="background-color:#fff;width:42em;background-color:transparent; ">
        <div>
            <a class="btn btn-danger" href="/users/edit_profile/<%= current_user.id %>">Profile
            </a>
            <a class="btn btn-danger" href="/family_members/family/<%= current_user.id %>">Family Tree</a>
            <a class="btn btn-danger" href="/give_feedback">Give feedback</a>
        </div>
    <br/>
<form action="/sessions/edit_page/<%= @user.id %>" method="post"
    enctype="multipart/form-data">
    <h3>
        <font color="#890000" ><%= @user.mj_id %> - <%= @user.firstname.capitalize %> <%= @user.middlename.capitalize %> <%=@user.lastname.capitalize %>'s profile
        </font>
    </h3>
<table border="0" cellpadding="4" cellspacing="2">

    <tr>
        <tr>
            <td><label for="user_desig"><strong>Title</strong></label></td>
            <td>
                <select id="user_desig" name="user[desig]" required="required"
                value="<%= @user.desig %>">
                    <option value="<%= @user.desig %>"><%= @user.desig %></option>
                    <option value="Mr.">Mr.</option>
                    <option value="Mrs.">Mrs.</option>
                    <option value="Miss.">Miss.</option>
                    <option value="Master.">Master.</option>
                    <option value="Late.">Late.</option>
                </select>
            </td>
        </tr>
            <td><strong>First Name</strong> </td>
            <td><input id="user_firstname" name="user[firstname]" size="30" type="text" value="<%= @user.firstname.capitalize %>" style="text-transform: capitalize;" placeholder="krishna" maxlength="15" required="required"/></td>
    </tr>
    <tr>
        <td><label for="user_middlename"><strong>Middlename</strong></label></td>
        <td><input id="user_middlename" name="user[middlename]" size="30" type="text" value="<%= @user.middlename.capitalize %>" style="text-transform: capitalize;" placeholder="kumar" maxlength="15"/></td>

    </tr>
    <tr>
        <td><label for="user_lastname"><strong>Surname</strong></label> </td>
        <td>
            <input list="surnames" value="<%= @user.lastname %>" name="user[lastname]" size="30" type="text" required="required" style="text-transform: capitalize;" placeholder="kabra" maxlength="15">
            <datalist id="surnames">
            <option value="<%= @user.lastname %>">
            <option value="Agiwal">
            <option value="Ajmera">
            <option value="Asawa">
            <option value="Atasniya">
            <option value="Attal">
            <option value="Bagri">
            <option value="Baheti">
            <option value="Bajaj">
            <option value="Baldawa">
            <option value="Baldi">
            <option value="Bangad">
            <option value="Bhaiya">
            <option value="Bhakkad">
            <option value="Bhala">
            <option value="Bhandari">
            <option value="Bhangdiya">
            <option value="Bhansali">
            <option value="Bharadia">
            <option value="Bhattad">
            <option value="Bhutada">
            <option value="Bidada">
            <option value="Bihani">
            <option value="Binani">
            <option value="Birla">
            <option value="Bisali">
            <option value="Biyani">
            <option value="Boob">
            <option value="Bung">
            <option value="Chandak">
            <option value="Chaparwal">
            <option value="Charkha">
            <option value="Chinariya">
            <option value="Chitlangi">
            <option value="Chokda">
            <option value="Dad">
            <option value="Daga">
            <option value="Daliya">
            <option value="Damani">
            <option value="Dangra">
            <option value="Darak">
            <option value="Dargad">
            <option value="Dhiran">
            <option value="Dhoot">
            <option value="Dodiya">
            <option value="Dudhani">
            <option value="Dujari">
            <option value="Dwarkani">
            <option value="Fofalia">
            <option value="Fomra">
            <option value="Gaggad">
            <option value="Gagrani">
            <option value="Gandhi">
            <option value="Gangan">
            <option value="Gattani">
            <option value="Ghurka">
            <option value="Gilda">
            <option value="Harkut">
            <option value="Heda">
            <option value="Holani">
            <option value="Indani">
            <option value="Innani">
            <option value="Jaju">
            <option value="Jakhotia">
            <option value="Jethliya">
            <option value="Jhawar">
            <option value="Kabra">
            <option value="Kacholia">
            <option value="Kakani">
            <option value="Kalani">
            <option value="Kalantri">
            <option value="Kaliya">
            <option value="Kapooria">
            <option value="Karnani">
            <option value="Karwa">
            <option value="Kasat">
            <option value="Kela">
            <option value="Khadloya">
            <option value="Khatar">
            <option value="Khator">
            <option value="Kothari">
            <option value="Kuiya">
            <option value="Ladda">
            <option value="Laddad">
            <option value="Ladha">
            <option value="Lahoti">
            <option value="Lakhani">
            <option value="Lakhotia">
            <option value="Lara">
            <option value="Lathi">
            <option value="Loya">
            <option value="Lunani">
            <option value="Madi">
            <option value="Maheshwari">
            <option value="Maiyya">
            <option value="Makkad">
            <option value="Mal">
            <option value="Malani">
            <option value="Malpani">
            <option value="Malu">
            <option value="Mandhani">
            <option value="Maniyar">
            <option value="Mantri">
            <option value="Marda">
            <option value="Maru">
            <option value="Mehta">
            <option value="Memani">
            <option value="Mimani">
            <option value="Modani">
            <option value="Modi">
            <option value="Mohta">
            <option value="Muchhal">
            <option value="Mundada">
            <option value="Nagori">
            <option value="Navandar">
            <option value="Nawal">
            <option value="Newar">
            <option value="Nyati">
            <option value="Pachisia">
            <option value="Palod">
            <option value="Pangalia">
            <option value="Partani">
            <option value="Parwal">
            <option value="Patwa">
            <option value="Pediwal">
            <option value="Porwal">
            <option value="Pungalia">
            <option value="Randhar">
            <option value="Rathi">
            <option value="Saboo">
            <option value="Sadani">
            <option value="Samdani">
            <option value="Sangi">
            <option value="Sanwal">
            <option value="Sarda">
            <option value="Sikchi">
            <option value="Singhi">
            <option value="Siwal">
            <option value="Sodhani">
            <option value="Somani">
            <option value="Soni">
            <option value="Sukhani">
            <option value="Tapadiya">
            <option value="Tawani">
            <option value="Tawry">
            <option value="Tela">
            <option value="Thirani">
            <option value="Toshniwal">
            <option value="Totla">
        </datalist>       
    </tr>   
    <tr>
        <td><label for="user_fathername"><strong>Father Name</strong></label> </td>
        <td><input id="user_fathername" name="user[fathername]" size="30" type="text" value="<%= @user.fathername.capitalize %>"/style="text-transform: capitalize;" placeholder="hariprasad" maxlength="20" required="required"></td>
 
    </tr>
    <tr>
        <td><label for = "user_gender"><strong>Gender</strong></label> </td>
        <td>
            <input type="radio"  style="position:absolute" name="user[gender]" value="Male" <% if current_user.gender == "Male" %> checked <% end %>/>
            <strong>&nbsp;&nbsp;&nbsp;&nbsp;Male&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
            <input type="radio" style="position:absolute" name="user[gender]" value="Female" <% if current_user.gender == "Female" %> checked <% end %> /><strong>&nbsp;&nbsp;&nbsp;&nbsp;Female</strong>
        </td>
    </tr>
    <tr>
        <td><label for="user_email"><strong>Email</strong></label></td>
        <td>
            <input id="user_email" name="user[email]" size="30" type="email" value="<%= @user.email %>" placeholder="abc@xyz.com"/>
            <p class="help-block"></p>
        </td>
    </tr>
    <tr>
        <td><label for="user_dob"><strong>DOB</strong></label></td>
        <td>
            <input id="user_dob" name="user[dob]" type="text" value="<%= @user.dob %>" placeholder="dd-mm-yyyy"  maxlength="10" required="required" pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])-(0[1-9]|1[012])-[0-9]{4}"  max="31/12/2013" data-validation-pattern-message="You might have entered a Wrong Date of Birth"/>
        </td>
    </tr>
    <tr>
        <td><label for="user_occupation"><strong>Occupation</strong></label></td>
        <td><input id="user_occupation" name="user[occupation]" size="30" type="text"
            value="<%= @user.occupation.capitalize %>" style="text-transform: capitalize;" placeholder="bussiness"/></td>
    </tr>
    <tr>
        <td><label for="user_mobileno"><strong>Contact Number</strong></label></td>
        <td>
            <input id="user_mobileno" name="user[mobileno]" type="number"
            value="<%= @user.mobileno %>" style="text-transform: capitalize;"  maxlength="12" pattern=".{5,12}" title="min 5 to 12 characters" placeholder="09876543210" required="required"/>
            <p class="help-block"></p>
        </td>
    </tr>
 
    <tr>
        <td><label for="user_address"><strong>Address</strong></label></td>
        <td>
            <textarea rows="4" cols="30" id =" user_address" name="user[address]" >
                <%= @user.address %></textarea>
        </td>
    </tr>
     <tr>
        <td><label for="user_country"><strong>Country</strong></label></td>
        <td>
            <select onchange="set_country(this,country,city)" size="1" name="user[country]" id="state">
              <option value=<%= @user.country.capitalize %>   ><%= @user.country.capitalize %>
              </option>
   
               <script type="text/javascript">
                setRegions(this);
               </script>
            </select>
        </td>

    </tr>
    <tr>
        <td><label for="user_state"><strong>State</strong></label></td>
        <td>
            <select name="user[state]" size="1" disabled="disabled" onchange="set_city(this,city)" id="country">
            <option value=<%= @user.state.capitalize %> selected><%= @user.state.capitalize %>
               </option>
           </select>
        </td>
    </tr>
 
    <tr>
        <td><label for="user_city"><strong>City</strong></label></td>
        <td>
             <select name="user[city]" size="1" disabled="disabled" onchange="print_city(country,this)" id="city">
                <option value=<%= @user.city %> selected><%= @user.city %>
               </option>

            </select>



        </td>
      
    </tr>




<!--  

<div class="control-group">
 <label class="control-label">Country</label>
  <div class="controls">
     <select onchange="set_country(this,country,city)" size="1" name="user[country]" id="state">
     <option value="" selected="selected">Select</option>
     <option value=""></option>
     <script type="text/javascript">
     setRegions(this);
     </script>
     </select>
    </div>
</div>
<div class="control-group">
  <label class="control-label">State</label>
   <div class="controls">
     <select name="user[state]" size="1" disabled="disabled" onchange="set_city(this,city)" id="country"></select>
    </div>
</div>

<div class="control-group">
  <label class="control-label">City</label>
   <div class="controls">
     <select name="user[city]" size="1" disabled="disabled" onchange="print_city(country,this)" id="city"></select>
    </div>
</div>
  -->






    <tr>
        <td><label for="user_zip"><strong>Zipcode</strong></label></td>
        <td>
            <input id="user_zip" name="user[zip]" type="text" value="<%= @user.zip %>" placeholder="500003" maxlength="10"/></td>
    </tr>



    <tr>
        <td><label for="photo"><strong>Photo</strong></label></td>
        <td>
            <% if !current_user.photo_file_name.nil? %>
                <%= image_tag current_user.photo.url(:small) %><br />
            <% else %>
                <img src="/assets/empty_profile.jpeg" height="50" width="50" alt="" /><br />
            <% end %>
            <input id="photo"   name="user[photo]" type="file" value="<%= @user.photo %>"/>
        </td>
    </tr>
    <tr>
        <td>
            <input name="submit" type="submit" value="submit"   class="btn btn-success" />
        </td>
    </tr>
</table>
</form>
</div>
</br></br></br></br></br></br>