<style type="text/css">

.table-nonfluid {
   width: auto;
}
</style>
<div class="row">
<div class="span6">
<div>
<a class="btn btn-danger" href="/users/edit_profile/<%= current_user.id %>">Profile</a>
<a class="btn btn-danger" href="/family_members/family/<%= current_user.id %>">Family Tree</a>
<a class="btn btn-danger" href="/give_feedback">Give feedback</a>
</div>
<h2 style="color:#890000">Give your feedback</h2>
<%= render 'form' %>
</div>
<div class="hero-unit">
<h2 style="color:#890000">Feedbacks</h2>

<table class="table table-striped table-bordered table-condensed table-hover table-nonfluid">
  <tr>
    
    <th>Details</th>
    <th>Date</th>
  </tr>

<% @feedbacks.each do |feedback| %>
  <tr>
    <td><b><%= feedback.details %></b></td>
    <td><%= Time.now.strftime("%Y-%m-%d %H:%M") %></td>
  </tr>
<% end %>
</table>

</div>
</div>